<%- include("partials/header.ejs") %>
<body>


    <h1> Quote Finder </h1>
      <form action="/searchByKeyword">
        Keyword: 
        <input type="text" name="keyword">
        <button>Search by Keyword</button>
      </form>
      <br><p></p>
      <form action="/searchByAuthor">
        <select name="authorId">
          <option value="1"> 
            Albert Einstein 
          </option>
          <option value="2"> 
             Agatha Christie 
           </option>
        </select>
        <button>Search by Author</button>
      </form>   
   
      <%- include("partials/footer.ejs") %>
</body>
</html>