body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-height: 100vh;
    position: relative;
    background-color: #FFF8E7;
    color: #2B6D98;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

hr {
    width: 100%;
    color: #0281B1;
}

header, main, nav, footer {
    text-align: center;
}

footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    text-align: start;
    color: #65B5F6;
    font-weight: 400;
}

#footer-content { /* displays image and text side-by-side */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

#csumb-logo {
    width: 70px;
    height: auto;
    border: 2px #65B5F6 solid;
    border-radius: 100%;
    margin-right: 10px;
}